$ff-h1:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$ff-h2:Verdana, Geneva, Tahoma, sans-serif;
$ff-h3: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

$mobile : 320px;
$tablette : 992px;
$ordi : 1440px;
$big : 1920px;