#accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border: none;
    h1{
        font-size: 100px;
    }
    h4{
        @include display(flex, center, center);
        font-size: 30px;
    }
}

//responsive
#accueil{
    h1{
        @include respond-to ("tablette"){
            font-size: 50px;
        }
        @include respond-to ("mobile"){
            font-size: 20px;
        }
    }
    h4{
        @include respond-to ("tablette"){
            font-size: 20px;
        }
        @include respond-to ("mobile"){
            font-size: 10px;
        }
    }
}
